on: [push]

jobs:
  find-issue:
    runs-on: ubuntu-latest
    name: Tests
    steps:
      # To use this repository's private action, you must check out the repository
        - name: Checkout
          uses: actions/checkout@v2

        - name: get issue
          uses: ./ # Uses an action in the root directory
          id: find
          with:
            input-text: 'feature/PMB-1169'

      # Use the output from the `hello` step
        - name: Get the output time
          run: echo "The ticket number is ${{ steps.find.outputs.issue }}"